html{
    background-color: rgb(39, 38, 38);
    display: flex;  
    justify-content: center;      
    text-align: center;    
}

body{
    background-color:rgba(153, 219, 92, 0.877);
    display: inline-block;    
    align-content: center; 
    font-family: 'Roboto', sans-serif;   
    text-align: center;
    align-items: center;
    border: 2pt solid black;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;

    animation-name: fade;
    animation-duration: 4s;
}

h1{    
    font-size: 30pt;    
}

p{    
    font-size: 18pt;
    line-height: 50pt;
}

.form{
    display: inline-block;    
    align-content: center;
    text-align: center;
    align-items: center;
    line-height:40px;
}

#palpite{    
    font-size: 18pt;
    font-style: bold;
    
}

#campoPalpite{    
    font-size: 18pt;
    width: 10%;
}

.envioPalpite{    
    font-size: 16pt;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: rgba(91, 9, 129, 0.87);
    padding: 10px;
    color: white;
    cursor: pointer;
}

.envioPalpite:hover{
    background-color:rgb(91, 9, 129);   
}

button{    
    font-size: 16pt;
    margin-top: 20px;
    background-color: rgb(226, 109, 55);
    padding: 10px 10px 10px 10px;
    color: white;
    cursor: pointer;
}

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 2;}
}

@media (min-width: 700px) {
    html{
        font-size: 80%;
        grid-template-columns: center;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 0px; 
    }        
    
}